.container {
  display: flex; /* Utiliza flexbox para el contenedor */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.centered-rounded-background {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  margin-bottom: 0%;
  display: inline-flex; /* Ajusta el tamaño al contenido */
  background: #FF8C00; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  padding: 5px 50px; /* Espacio interno reducido */
  align-items: center; /* Alinea los elementos hijos verticalmente */
}
.title-menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos internos */
}
.img-crud{
  width: 40px;
  vertical-align: middle;
}
  .main-section {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 20px;
    padding: 20px;
    min-height: 100vh;
    margin-top: 0%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
  }
  
  .modal-content {
    background-color: white;
    padding: 0 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
    border-radius: 10px;
  }
  
  .footer {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    color: #666;
  }
  
  
  .form-group {
    margin-bottom: 0;
  }
  

  .registros {
    overflow-y: auto; /* Agrega desplazamiento vertical si los registros son demasiado largos */
   /* Ocupa todo el espacio disponible dentro del contenedor modal-content */
  
  }
  .thead, th{
    background-color:#464343;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  tbody td {
    text-align: center;
  }

  .table-responsive {
    border-radius: 10px; /* Redondea los bordes */
    overflow: hidden; /* Asegura que el contenido redondeado no se desborde */
    display: grid;
  }
  .hide-column {
    display: none;
  }
  .scroll-table {
    max-height: auto; /* Ajusta según sea necesario */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}

.table {
    min-width: 100%; /* Garantiza que la tabla ocupe el ancho completo */
    margin-bottom: 0; 
    width: 100%; /* Elimina el margen inferior de la tabla */
}
