#tituloTabla {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0%;
  background: linear-gradient(to right, rgba(255, 140, 0, 0) 0%, rgba(255, 140, 0, 0) 30%, #cccccc 30%, #cccccc 70%, rgba(255, 140, 0, 0) 0%, rgba(255, 140, 0, 0) 100%);
}

.main-section {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 20px;
  padding: 20px;
  min-height: 100vh;
  margin-top: 0%;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
}

.modal-content {
  background-color: white;
  padding: 0 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
  border-radius: 10px;
}

.footer {
  margin-top: 20px;
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  color: #666;
}


.form-group {
  margin-bottom: 0;
}



.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 60px); /* Altura mínima que cubre toda la pantalla menos el espacio del footer */
}

.modal-header {
  border-bottom: none; /* Quita el borde inferior del encabezado del modal */
}

.modal-footer {
  border-top: none; /* Quita el borde superior del pie de página del modal */
}


#btnAgregarUsuario{
  margin-right: 5px;
  margin-top: 20px;
}

.btn-add-right{
  position: absolute;
  right: 0;
  margin-right: 10px;
}
.registros {
  overflow-y: auto; /* Agrega desplazamiento vertical si los registros son demasiado largos */
 /* Ocupa todo el espacio disponible dentro del contenedor modal-content */

}
.thead, th{
  background-color:#464343;
  text-align: center;
  color: rgb(255, 255, 255);
}
/* Estilos CSS para el menú desplegable */
.dropdown {
  position: relative; /* Establece la posición relativa para posicionar el menú */
}

.dropdown-menu {
  right: 0; /* Alinea el menú a la derecha del botón */
  top: 100%; /* Coloca el menú debajo del botón */
  z-index: 10;
  position: absolute;
  color: rgb(31, 31, 95); /* Cambia el color del icono a azul */
}

.dropdown button{
  background-color: rgb(31, 31, 95);
  border-color: rgb(31, 31, 95);
  width: 50px;
  height: 30px;
  font-size: 12px;
  padding: 5px; /* Relleno */
}


tbody td {
  text-align: center;
  margin-top: auto;
}
.dropdown-item i {
  margin-right: 10px; /* Adjust the value for desired spacing */
  color: rgb(31, 31, 95);
}
.dropdown-item {
  color: rgb(31, 31, 95);
}

/* Estilo para el icono dentro del título en los modales */
.modal-header h1 i {
  margin-right: 10px; /* Ajusta este valor según sea necesario */
  color: rgb(31, 31, 95); /* Cambia el color del icono a azul */
}

/* Estilo para el texto dentro del título en los modales */
.modal-header h1 {
  color: rgb(31, 31, 95); /* Cambia el color del texto a azul */
}
.button-icon {
  margin-right: 5px; /* Ajusta el margen derecho del ícono */
}
#AgregarModalbtn{
  margin-top: 18px;
  background-color: rgb(31, 31, 95);
  border-color: rgb(31, 31, 95);
}
/* Estilo para el encabezado del modal */
.modal-header {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  border-bottom: 1px solid #ccc; /* Borde inferior */
  padding-bottom: 10px; /* Espaciado inferior */
}

/* Estilo para el título del modal */
.modal-header h1 {
  color: rgb(31, 31, 95); /* Color del texto */
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente en el centro */
}

/* Estilo para el botón de cerrar */
.btn-close {
  align-self: center; /* Alinea el botón verticalmente en el centro */
}

.table-responsive {
  border-radius: 10px; /* Redondea los bordes */
  overflow: hidden; /* Asegura que el contenido redondeado no se desborde */
}
