<div class="col-sm-11 main-section">
  <div class="modal-content">
    <!-- Filtros de Búsqueda -->
    <form [formGroup]="formFiltro">
      <h1 id="tituloTabla">Tipos de Facturas</h1>
      <div class="d-flex align-items-start justify-content-between">
        <div class="form-group col-md-2 mt-3">
          <label for="lista">Filtrar Por:</label>
          <select formControlName="idFiltro" class="form-control" id="tipoLista">
            <option value="2" selected>Solo Habilitados</option>
            <option value="3">Solo Inhabilitados</option>
            <option value="1">Todos</option>
          </select>
        </div>
      </div>
    </form>
    <!-- Grilla -->
    <div class="registros mt-3" *ngIf="listaGrilla.length > 0; else noData">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nro</th>
              <th scope="col">Descripción del Domicilio</th>
            </tr>
          </thead>
          <tbody class="tablaUser">
            <tr *ngFor="let item of listaGrilla; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.Descripcion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noData>
      <h5>No se encontraron registros...</h5>
    </ng-template>
  </div>
</div>
