.navbar {
  background-color: #cccccc;
  padding: 10px 16px; /* Añadir relleno al navbar */
}

/* Estilos para el logo */
.navbar-brand img {
  width: 120px; /* Ancho deseado del logo */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Ajustar margen a la derecha del logo */
}

/* Estilos para los enlaces del navbar */
.navbar-nav .nav-link {
  padding: 0.5rem 0.75rem; /* Ajustar el relleno de los enlaces */
  margin-right: 10px; /* Ajustar margen entre los enlaces */
}

/* Estilos para el enlace activo */
.navbar-nav .nav-link.active {
  color: #ffffff;
  background-color: #FF8C00; /* Color de fondo del enlace activo */
  border-radius: 4px; /* Añadir bordes redondeados al enlace activo */
}

/* Estilos para el hover de los enlaces */
.navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: #ffba75;
  border-radius: 4px;
}
/* Establecer ancho automático para el menú desplegable */
.dropdown-menu {
  min-width: 100%; /* Ancho mínimo igual al 100% del contenedor padre */
  width: auto; /* Ancho automático basado en el contenido */
}

/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-menu .dropdown-item {
  padding: 0.5rem 0.75rem; /* Ajustar el relleno de los enlaces */
  margin: 0; /* Eliminar margen entre los enlaces */
}

/* Ajustar margen derecho de los enlaces dentro del menú desplegable */
.dropdown-menu .dropdown-item:not(:last-child) {
  margin-right: 0.5rem; /* Ajustar margen derecho entre los enlaces */
}


/* Estilos para el nombre de usuario en dispositivos grandes */
@media (min-width: 992px) {
  .navbar-nav .text-light {
    display: block; /* Mostrar el nombre de usuario como bloque en dispositivos grandes */
  }
}

/* Estilos para el logo */
#logo {
  width: 120px; /* Ancho deseado de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}
