<app-loader [isLoading]="loading"></app-loader>
<div class="container-fluid main-section">
  <div class="modal-content">
    <form [formGroup]="formFiltro">
      <div class="container">
        <h4 class="title-menu centered-rounded-background">
          <a>
            <img *ngIf="imgSubmenu !== undefined" class="img-crud" src="{{imgSubmenu.TipoIcono}}{{imgSubmenu.Icono}}" />
          </a>
          <a style="margin-left: 5px;">Inventario</a>
        </h4>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <label for="idFiltro">Filtrar Por:</label>
          <select formControlName="idFiltro" class="form-control" id="idFiltro" (change)="cambiarFiltro()">
            <option value="1">Solo Habilitados</option>
            <option value="2">Solo Inhabilitados</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="busquedastock">Buscar:</label>
          <div class="input-group">
            <input type="text" formControlName="busquedastock" class="form-control" id="busquedastock"
              placeholder="Buscar...">
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="limpiarBusqueda()" style="margin-left: 5px;"
                id="btnBusqueda"><i class="fa-solid fa-eraser"></i></button>
            </div>
          </div>
        </div>

        <div class="col-md-5 d-flex justify-content-end"> <!-- Utiliza d-flex y justify-content-end -->
          <button type="button" class="btn btn-primary" id="AgregarModalbtn" (click)="openAgregar(content)">
            <i class="fa-solid fa-circle-plus"></i>
            Agregar
          </button>
          <button style="margin-left: 5px;" type="button" class="btn btn-primary" (click)="openModal(modalAumentosProductos)" id="AgregarModalbtn">
            <i class="fa-solid fa-circle-plus"></i>
            Aumento
          </button>
        </div>
      </div>
    </form>

    <div class="registros mt-3" *ngIf="listaGrilla && listaGrilla.length > 0; else noData">
      <div class="table-responsive">
        <div class="scroll-table">
          <ng-container *ngIf="(listaGrilla | busquedastock:busquedastock:'IdProducto':'Nombre':'Codigo':'Marca':'TipoMedidaDescripcion':'CategoriaDescripcion':'TipoProductoDescripcion').length > 0; else noResults">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th> <!-- Checkbox Column -->
                  <th scope="col">Nro</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Código</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Precio Costo</th>
                  <th scope="col">Cant. Máxima</th>
                  <th scope="col">Cant. Mínima</th>
                  <th scope="col">Fecha Alta</th>
                  <th scope="col" class="hide-column">IdTipoMedidas</th>
                  <th scope="col">Medida</th>
                  <th scope="col" class="hide-column">IdTipoCategoria</th>
                  <th scope="col">Tamaño</th>
                  <th scope="col">Categoria</th>
                  <th scope="col" class="hide-column">IdTipoProducto</th>
                  <th scope="col">Tipo</th>
                  <th scope="col" class="hide-column">IdPersona</th>
                  <th scope="col">NombreProveedor</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody class="tablaUser">
                <tr *ngFor="let item of listaGrilla | busquedastock:busquedastock:'IdProducto':'Nombre':'Codigo':'Marca':'TipoMedidaDescripcion':'CategoriaDescripcion':'TipoProductoDescripcion' | paginate: { itemsPerPage: 10, currentPage: paginaActual }; let i = index"
                    [ngClass]="{'selected': isSelected(item)}">
                  <td scope="col">
                    <input type="checkbox" (change)="toggleSelection(item)" [checked]="isSelected(item)" [disabled]="item.FechaBaja !== null">
                  </td>
                  <td scope="col">{{ item.IdProducto }}</td>
                  <td scope="col">{{ item.FechaBaja === null ? 'Activo' : 'No Activo' }}</td>
                  <td scope="col">{{ item.Codigo }}</td>
                  <td scope="col">{{ item.Nombre }}</td>
                  <td scope="col">{{ item.Marca }}</td>
                  <td scope="col">{{ item.PrecioCosto }}</td>
                  <td scope="col">{{ item.CantMaxima }}</td>
                  <td scope="col">{{ item.CantMinima }}</td>
                  <td scope="col">{{ item.FechaAlta }}</td>
                  <td scope="col" class="hide-column">{{ item.IdTipoMedida }}</td>
                  <td scope="col">{{ item.TipoMedidaDescripcion }}</td>
                  <td scope="col">{{ item.Tamano }}</td>
                  <td scope="col" class="hide-column">{{ item.IdTipoCategoria }}</td>
                  <td scope="col">{{ item.CategoriaDescripcion }}</td>
                  <td scope="col" class="hide-column">{{ item.IdTipoProducto }}</td>
                  <td scope="col">{{ item.TipoProductoDescripcion }}</td>
                  <td scope="col" class="hide-column">{{ item.IdPersona }}</td>
                  <td scope="col">{{ item.RazonSocial }}</td>
                  <td scope="col" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-gears"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li *ngIf="item.FechaBaja !== null">
                        <a class="dropdown-item" (click)="openHabilitar(contentHabilitar, item)">
                          <i class="fa-solid fa-check"></i> Habilitar
                        </a>
                      </li>
                      <li *ngIf="item.FechaBaja === null">
                        <a class="dropdown-item" (click)="openInhabilitar(contentInhabilitar, item)">
                          <i class="fa-solid fa-xmark"></i> Inhabilitar
                        </a>
                      </li>
                      <li *ngIf="item.FechaBaja === null">
                        <a class="dropdown-item" (click)="openEditar(content, item)">
                          <i class="fa-solid fa-pen-to-square"></i> Editar
                        </a>
                      </li>
                      <li *ngIf="item.FechaBaja === null">
                        <a class="dropdown-item" (click)="openCantidad(contentCantidad, item)">
                          <i class="fa-solid fa-box"></i> Cantidad
                        </a>
                      </li>
                      <li *ngIf="item.FechaBaja === null">
                        <a class="dropdown-item" (click)="openAumentos(contentAumento, item)">
                          <i class="fa-solid fa-percent"></i> Aumento
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-template #noResults>
            <div class="alert alert-info alert-custom-orange mt-4" role="alert" id="alerta">
              No se encontraron resultados.
            </div>
          </ng-template>
        </div>
      </div>
           
      <div class="mt-3"></div>
      <pagination-controls (pageChange)="cambiarPagina($event)" class="my-pagination" previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
    </div>
    <ng-template #noData>
      <div class="alert alert-info alert-custom-orange mt-4" role="alert" id="alerta">
        No hay datos disponibles.
      </div>
    </ng-template>
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <a>
        <img *ngIf="imgSubmenu !== undefined" class="img-crud" src="{{imgSubmenu.TipoIcono}}{{imgSubmenu.Icono}}" />
      </a>
      <a style="margin-left: 5px;"></a>
      <h4 class="modal-title">{{ tituloModal }}</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="formItemGrilla">
        <div class="row">
          <div class="form-group col-md-4">
            <label for="Codigo">Código:</label>
            <input [(ngModel)]="itemGrilla.Codigo" type="text" formControlName="Codigo" class="form-control" id="Codigo"
              placeholder="Codigo"
              [ngClass]="{'is-invalid': isFieldInvalid('Codigo'), 'is-valid': !isFieldInvalid('Codigo') && isFieldTouched('Codigo')}">
              <div *ngIf="isFieldInvalid('Codigo')" class="invalid-feedback">
                {{ getErrorMessage('Codigo') }}
              </div>
          </div>
          <div class="form-group col-md-4">
            <label for="Nombre">Nombre:</label>
            <input [(ngModel)]="itemGrilla.Nombre" type="text" formControlName="Nombre" class="form-control" id="Nombre"
              placeholder="Nombre"
              [ngClass]="{'is-invalid': isFieldInvalid('Nombre'), 'is-valid': !isFieldInvalid('Nombre') && isFieldTouched('Nombre')}">
              <div *ngIf="isFieldInvalid('Nombre')" class="invalid-feedback">
                {{ getErrorMessage('Nombre') }}
              </div>
          </div>
          <div class="form-group col-md-4">
            <label for="Marca">Marca:</label>
            <input [(ngModel)]="itemGrilla.Marca" type="text" formControlName="Marca" class="form-control" id="Marca"
              placeholder="Marca"
              [ngClass]="{'is-invalid': isFieldInvalid('Marca'), 'is-valid': !isFieldInvalid('Marca') && isFieldTouched('Marca')}">
              <div *ngIf="isFieldInvalid('Marca')" class="invalid-feedback">
                {{ getErrorMessage('Marca') }}
              </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="PrecioCosto">Precio Costo:</label>
            <input [(ngModel)]="itemGrilla.PrecioCosto" type="text" formControlName="PrecioCosto" class="form-control"
              id="PrecioCosto" placeholder="100"
              [ngClass]="{'is-invalid': isFieldInvalid('PrecioCosto'), 'is-valid': !isFieldInvalid('PrecioCosto') && isFieldTouched('PrecioCosto')}">
              <div *ngIf="isFieldInvalid('PrecioCosto')" class="invalid-feedback">
                {{ getErrorMessage('PrecioCosto') }}
              </div>
          </div>
          <div class="form-group col-md-4">
            <label for="CantMaxima">Can. Max.</label>
            <input [(ngModel)]="itemGrilla.CantMaxima" type="text" formControlName="CantMaxima" class="form-control"
              id="CantMaxima" placeholder="100"
              [ngClass]="{'is-invalid': isFieldInvalid('CantMaxima'), 'is-valid': !isFieldInvalid('CantMaxima') && isFieldTouched('CantMaxima')}">
              <div *ngIf="isFieldInvalid('CantMaxima')" class="invalid-feedback">
                {{ getErrorMessage('CantMaxima') }}
              </div>
          </div>
          <div class="form-group col-md-4">
            <label for="CantMinima">Can. Min.</label>
            <input [(ngModel)]="itemGrilla.CantMinima" type="text" formControlName="CantMinima" class="form-control"
              id="CantMinima" placeholder="100"
              [ngClass]="{'is-invalid': isFieldInvalid('CantMinima'), 'is-valid': !isFieldInvalid('CantMinima') && isFieldTouched('CantMinima')}">
              <div *ngIf="isFieldInvalid('CantMinima')" class="invalid-feedback">
                {{ getErrorMessage('CantMinima') }}
              </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="Tamano">Tamaño:</label>
            <input [(ngModel)]="itemGrilla.Tamano" type="text" formControlName="Tamano" class="form-control"
              id="Tamano" placeholder="100"
              [ngClass]="{'is-invalid': isFieldInvalid('Tamano'), 'is-valid': !isFieldInvalid('Tamano') && isFieldTouched('Tamano')}">
              <div *ngIf="isFieldInvalid('Tamano')" class="invalid-feedback">
                {{ getErrorMessage('Tamano') }}
              </div>
          </div>
          <div class="form-group col-md-4">
            <label for="tipoMedida">Medida:</label>
            <select [(ngModel)]="itemGrilla.IdTipoMedida" formControlName="tipoMedida" class="form-control"
              id="tipoMedida" [ngClass]="{'is-invalid': isFieldInvalid('tipoMedida'), 'is-valid': !isFieldInvalid('tipoMedida') && isFieldTouched('tipoMedida')}">
              <option [value]="undefined" disabled>Seleccione...</option>
              <option *ngFor="let tipo of lTipoMedida" [value]="tipo.IdTipoMedida">{{ tipo.Detalle }}</option>
            </select>
            <div *ngIf="isFieldInvalid('tipoMedida')" class="invalid-feedback">
              {{ getErrorMessage('tipoMedida') }}
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="tipoCategoria">Tipo de Categoría:</label>
            <select [(ngModel)]="itemGrilla.IdTipoCategoria" formControlName="tipoCategoria" class="form-control" 
              [ngClass]="{'is-invalid': isFieldInvalid('tipoCategoria'), 'is-valid': !isFieldInvalid('tipoCategoria') && isFieldTouched('tipoCategoria')}">
              <option [value]="undefined" disabled>Seleccione...</option>
              <option *ngFor="let categoria of lTipoCategoria" [value]="categoria.IdTipoCategoria">
                {{ categoria.Descripcion }}
              </option>
            </select>
            <div *ngIf="isFieldInvalid('tipoCategoria')" class="invalid-feedback">
              {{ getErrorMessage('tipoCategoria') }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="tipoProducto">Tipo de Producto:</label>
            <select [(ngModel)]="itemGrilla.IdTipoProducto" class="form-control" formControlName="tipoProducto" 
              [ngClass]="{'is-invalid': isFieldInvalid('tipoProducto'), 'is-valid': !isFieldInvalid('tipoProducto') && isFieldTouched('tipoProducto')}">
              <option [value]="undefined" disabled>Seleccione...</option>
              <option *ngFor="let tipo of lTipoProducto" [ngValue]="tipo.IdTipoProducto">{{ tipo.Detalle }}</option>
            </select>
            <div *ngIf="isFieldInvalid('tipoProducto')" class="invalid-feedback">
              {{ getErrorMessage('tipoProducto') }}
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="proveedor">Proveedor:</label>
            <select [(ngModel)]="itemGrilla.IdPersona" class="form-control" formControlName="proveedor" 
              [ngClass]="{'is-invalid': isFieldInvalid('proveedor'), 'is-valid': !isFieldInvalid('proveedor') && isFieldTouched('proveedor')}">
              <option [value]="undefined" disabled>Seleccione...</option>
              <option *ngFor="let tipo of lProveedor" [ngValue]="tipo.IdPersona">{{ tipo.RazonSocial }}</option>
            </select>
            <div *ngIf="isFieldInvalid('proveedor')" class="invalid-feedback">
              {{ getErrorMessage('proveedor') }}
            </div>
          </div>
        </div>
        <div class="form-group col text-right" style="margin-top: 25px;">
          <button type="button" class="btn btn-danger" is="btnCancelar" (click)="cerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-success" id="btnGuardar" (click)="guardar()">{{ tituloBoton }}</button>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #contentInhabilitar let-modal>
    <div class="modal-header">
      <a></a>
      <h4 class="modal-title">{{ tituloModal }}</h4>
    </div>
    <div class="modal-body">
      <a></a>
      <h4 class="">Desea Eliminar?</h4>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="inhabilitar()">Aceptar</button>
      </div>
    </div>
  </ng-template>

  <ng-template #contentHabilitar let-modal>
    <div class="modal-header">
      <a></a>
      <h4 class="modal-title">{{ tituloModal }}</h4>
    </div>
    <div class="modal-body">
      <a></a>
      <h4 class="">Desea Habilitar?</h4>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="habilitar()">Aceptar</button>
      </div>
    </div>
  </ng-template>
  <!-- Modal para aumento de precios -->
  <ng-template #contentAumento let-modal>
    <div class="modal-header">
      <a>
        <img *ngIf="imgSubmenu !== undefined" class="img-crud" src="{{imgSubmenu.TipoIcono}}{{imgSubmenu.Icono}}" />
      </a>
      <h4 class="modal-title">{{ tituloModal }}</h4>
    </div>
    <div class="modal-body">
      <div *ngIf="itemGrilla">
        <label for="nombreProducto">Nombre del Producto:</label>
        <input id="nombreProducto" [(ngModel)]="itemGrilla.Nombre" class="form-control" disabled>
  
        <div class="mt-3">
          <h5>Tipos de Aumento</h5>
          <div class="checkbox-container">
            <div class="checkbox-column" *ngFor="let column of columns">
              <div class="checkbox-item" *ngFor="let tipo of column">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input"
                         [id]="'tipo-' + tipo.IdTipoAumento"
                         [value]="tipo.IdTipoAumento"
                         [(ngModel)]="tipo.seleccionado">
                  <label class="form-check-label" [for]="'tipo-' + tipo.IdTipoAumento">{{ tipo.Detalle }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <h5 class="mr-3">Aumento Extra</h5>
        <div class="input-group mb-2">
          <input type="text" class="form-control input-short" placeholder="Ingrese porcentaje" [(ngModel)]="aumentoExtra">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-secondary" (click)="modalRef.close('Save click')">Cerrar</button>
        <button type="button" class="btn btn-primary ml-2" (click)="guardarAumentos()">Guardar</button>
      </div>
    </div>
  </ng-template>
  <ng-template #contentCantidad let-modal>
    <div class="modal-header">
      <a>
        <img *ngIf="imgSubmenu !== undefined" class="img-crud" src="{{imgSubmenu.TipoIcono}}{{imgSubmenu.Icono}}" />
      </a>
      <h4 class="modal-title">{{ tituloModal }}</h4>
    </div>
    <div class="modal-body">
      <div *ngIf="itemGrilla">
        <label for="nombreProducto">Nombre del Producto:</label>
        <input id="nombreProducto" [(ngModel)]="itemGrilla.Nombre" class="form-control" disabled>
        <label for="nombreProducto">Codigo del producto:</label>
        <input id="Codigo" [(ngModel)]="itemGrilla.Codigo" class="form-control" disabled>
        <label for="Codigo">Ingrese cantidad:</label>
        <input type="number" id="Cantidad" [(ngModel)]="cantidad" class="form-control">
      </div>
      <div class="modal-footer d-flex justify-content-end">
        <button type="button" class="btn btn-secondary ml-2" (click)="modal.dismiss()">Cerrar</button>
        <button type="button" class="btn btn-primary ml-2" (click)="guardarStock()">Guardar</button>
      </div>
    </div>
  </ng-template>

  <ng-template #modalAumentosProductos let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Productos Seleccionados</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div *ngIf="selectedRows.length > 0">
        <div class="mb-3">
          <label for="aumentoExtra" class="form-label">Aumento Extra</label>
          <input type="number" class="form-control" id="aumentoExtra" [(ngModel)]="aumentoExtra" (input)="updatePrices()">
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nro</th>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio Costo</th>
                <th scope="col">Aumento</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedRows">
                <td>{{ item.IdProducto }}</td>
                <td>{{ item.Codigo }}</td>
                <td>{{ item.Nombre }}</td>
                <td>{{ item.PrecioCosto }}</td>
                <td><input type="text" [value]="calculateNewPrice(item.PrecioCosto)" disabled></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="selectedRows.length === 0">
        <p>No se han seleccionado productos.</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Cerrar</button>
      <button type="button" class="btn btn-primary ml-2" (click)="guardarAumentoStock()">Guardar</button>
    </div>
  </ng-template>
  <footer class="footer">
    <app-footer></app-footer>
  </footer>