.container {
  display: flex; /* Utiliza flexbox para el contenedor */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.centered-rounded-background {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  margin-bottom: 0%;
  display: inline-flex; /* Ajusta el tamaño al contenido */
  background: #FF8C00; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  padding: 5px 50px; /* Espacio interno reducido */
  align-items: center; /* Alinea los elementos hijos verticalmente */
}


.title-menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos internos */
}
.img-crud{
  width: 40px;
  vertical-align: middle;
}
  .main-section {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 20px;
    padding: 20px;
    min-height: 100vh;
    margin-top: 0%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
  }
  
  .modal-content {
    background-color: white;
    padding: 0 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
    border-radius: 10px;
  }
  
  .footer {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    color: #666;
  }
  
  
  .form-group {
    margin-bottom: 0;
  }
  
  
  #btnAgregarUsuario{
    margin-right: 5px;
    margin-top: 20px;
  }
  
  .btn-add-right{
    position: absolute;
    right: 0;
    margin-right: 10px;
  }
  .registros {
    overflow-y: auto; /* Agrega desplazamiento vertical si los registros son demasiado largos */
   /* Ocupa todo el espacio disponible dentro del contenedor modal-content */
  
  }
  .thead, th{
    background-color:#464343;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  /* Estilos CSS para el menú desplegable */
  .dropdown {
    position: relative; /* Establece la posición relativa para posicionar el menú */
  }
  
  .dropdown-menu {
    right: 0; /* Alinea el menú a la derecha del botón */
    top: 100%; /* Coloca el menú debajo del botón */
    z-index: 10;
    position: fixed; /* Cambia la posición a fixed */
    color: rgb(31, 31, 95); /* Cambia el color del icono a azul */
  }  
  
  .dropdown button{
    background-color: rgb(31, 31, 95);
    border-color: rgb(31, 31, 95);
    width: 50px;
    height: 30px;
    font-size: 12px;
    padding: 5px; /* Relleno */
  }
  
  
  tbody td {
    text-align: center;
    margin-top: auto;
  }
  .dropdown-item i {
    margin-right: 10px; /* Adjust the value for desired spacing */
    color: rgb(31, 31, 95);
  }
  .dropdown-item {
    color: rgb(31, 31, 95);
  }
  

  .button-icon {
    margin-right: 5px; /* Ajusta el margen derecho del ícono */
  }
  #AgregarModalbtn{
    margin-top: 18px;
    background-color: rgb(31, 31, 95);
    border-color: rgb(31, 31, 95);
  }
  
  /* Estilo para el botón de cerrar */
  .btn-close {
    align-self: center; /* Alinea el botón verticalmente en el centro */
  }
  
  .table-responsive {
    border-radius: 10px; /* Redondea los bordes */
    overflow: hidden; /* Asegura que el contenido redondeado no se desborde */
    display: grid;
  }
  .hide-column {
    display: none;
  }
  .scroll-table {
    max-height: auto; /* Ajusta según sea necesario */
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
}

.table {
    min-width: 100%; /* Garantiza que la tabla ocupe el ancho completo */
    margin-bottom: 0; 
    width: 100%; /* Elimina el margen inferior de la tabla */
}
/* Estilos adicionales según sea necesario */

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 60px); /* Altura mínima que cubre toda la pantalla menos el espacio del footer */
}


#btnGuardar{
  background-color: rgb(31, 31, 95);
  border-color: rgb(31, 31, 95);
  margin-left: 5px;
}

.modal-header {
  border-bottom: 2px solid #f0f0f0; /* Borde inferior */
  margin: 0; /* Elimina márgenes */
  padding: 15px; /* Agrega padding para un espaciado uniforme */
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #FF8C00; /* Color de fondo */
  width: 100%; /* Asegura que ocupe todo el ancho */
  box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
}
.modal-header .modal-title {
  font-weight: bold; /* Hace que el título esté en negrita */
}

.modal-body .form-group {
  margin-bottom: 15px; /* Espacio entre grupos de formularios */
}

.modal-body .form-group:last-child {
  margin-bottom: 0; /* Elimina el margen inferior del último grupo */
}
.modal-body label {
  margin-bottom: 5px; /* Espacio entre el label y el input */
  display: block; /* Asegura que el label esté alineado con su input */
}

.modal-body input {
  margin-bottom: 15px; /* Espacio inferior para los inputs */
}

.modal-footer {
  border-top: none; /* Quita el borde superior del pie de página del modal */
}

.text-right {
  text-align: right; /* Alinea los botones a la derecha */
}

#btnBusqueda{
  background: #FF8C00;
  border-color: #FF8C00;
}
#alerta{
  background: #ffd690;
  border-color: #ffd690;

}

.modal-body .row {
  display: flex;
  flex-wrap: wrap;
}

.modal-body .col-md-3 {
  padding: 5px;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-right: 10px;
}


.input-short {
  width: 100px; /* Ajusta este valor según sea necesario */
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-column {
  flex: 1;
  max-width: 25%; /* Esto asegurará que haya 4 columnas */
  box-sizing: border-box;
}

.checkbox-item {
  width: 100%;
  margin-bottom: 1px; /* Espacio entre los elementos */
}

.form-check-input {
  margin-top: 0;
  margin-bottom: 0;
}

.table-hover tr.selected {
  background-color: orange;
}


/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .checkbox-column {
    max-width: 50%; /* Mostrar 2 columnas en pantallas pequeñas */
  }
}

/* Media query para pantallas extra pequeñas */
@media screen and (max-width: 576px) {
  .checkbox-column {
    max-width: 100%; /* Mostrar 1 columna en pantallas extra pequeñas */
  }
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
  display: block;
}

.is-valid {
  border-color: #28a745; /* Cambia el color del borde a verde para indicar que el campo es válido */
}

.valid-feedback {
  color: #28a745; /* Cambia el color del mensaje de retroalimentación a verde */
  display: block;
}