<div class="wrapper">
    <div class="navbar-container">
      <app-navbar></app-navbar>
    </div>
    <div class="dashboard-container">
      <!-- Aquí van tus tarjetas del dashboard -->
      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>
      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>      <div class="card">
        <h2>Módulo 1</h2>
        <p>Descripción del Módulo 1</p>
      </div>
      <!-- Agrega más tarjetas según sea necesario -->
    </div>
  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div>
