<div class="wrapper">
    <div class="dashboard-container">
      <!-- Aquí van tus tarjetas del dashboard -->
      <div class="card">
        <h2>Seguridad</h2>
        <p>Descripción del Módulo 1</p>
      </div>
      <div class="card">
        <h2>Parametría</h2>
        <p>Descripción del Módulo 1</p>
      </div>
      <div class="card">
        <h2>Recursos</h2>
        <p>Descripción del Módulo 1</p>
      </div>
      <div class="card">
        <h2>Reportes</h2>
        <p>Descripción del Módulo 1</p>
      </div>
      <div class="card">
        <h2>Gestión</h2>
        <p>Descripción del Módulo 1</p>
      </div>
      <div class="card">
        <h2>Módulo 6</h2>
        <p>Descripción del Módulo 1</p>
      </div>


      <!-- Agrega más tarjetas según sea necesario -->
    </div>
  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div>
