<!-- Agrega este código dentro del componente donde deseas mostrar la tabla y el modal -->

<!-- Importa NgbModal en tu módulo si aún no lo has hecho -->
<!-- Agrega el siguiente import en tu archivo de módulo: import { NgbModule } from '@ng-bootstrap/ng-bootstrap'; -->

<div class="container-fluid main-section">
  <div class="modal-content">
    <!-- Filtros de Búsqueda -->
    <form [formGroup]="formFiltro">
      <div class="container">
        <h4 class="title-menu centered-rounded-background">
          <a>
            <img *ngIf="imgSubmenu !== undefined" class="img-crud" src="{{imgSubmenu.TipoIcono}}{{imgSubmenu.Icono}}" />
          </a>
          <a style="margin-left: 5px;">Permisos</a>
        </h4>
      </div>
    </form>
    <!-- Grilla -->
    <div class="registros mt-3" *ngIf="(listaGrilla && listaGrilla.length > 0) || (listaGrilla2 && listaGrilla2.length > 0); else noData">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nro</th>
              <th scope="col">Permiso</th>
              <th scope="col">Descripción</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody class="tablaUser">
            <!-- Usa ngFor para iterar sobre los elementos de listaGrilla y listaGrilla2 -->
            <ng-container *ngFor="let item of listaGrilla; let i = index">
              <tr>
                <td scope="col">{{ item.IdTipoPermiso }}</td>
                <td scope="col">{{ item.Detalle }}</td>
                <!-- Agrega un botón para abrir el modal y pasar el detalle del ítem -->
                <td scope="col">
                  <button class="btn btn-primary" (click)="openModal(item.Detalle)">Ver Detalle</button>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let item of listaGrilla2; let i = index">
              <tr>
                <td scope="col">{{ item.IdTipoPermisoDetalle }}</td>
                <td scope="col">{{ item.TipoPermiso }}</td>
                <td scope="col">{{ item.Method }}</td>
                <td scope="col" class="dropdown">
                  <!-- Botón de acción con menú desplegable -->
                  <button class="btn btn-secondary" type="button" id="dropdownMenuButton"> ver
                    <i class="fa-solid fa-eye"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noData>
      <h5>No se encontraron registros...</h5>
    </ng-template>
  </div>
</div>

<!-- Modal -->
<ng-template #detalleModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Detalle</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ modalData }}</p>
    <!-- Muestra un mensaje si el detalle es "Nivel 1" -->
    <p *ngIf="modalData === 'Nivel 1'">¡Hola!</p>
  </div>
</ng-template>

    <ng-template #content let-modal>
      <div class="modal-header">
        <a>
          <img *ngIf="imgSubmenu !== undefined" class="img-crud" src="{{imgSubmenu.TipoIcono}}{{imgSubmenu.Icono}}" />
      </a>
        <a style="margin-left: 5px;"></a><h4 class="modal-title">{{ tituloModal }}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="formItemGrilla">
          <div class="form-row">
            <div class="form-group col-md-10">
              <div style="margin-bottom: 15px">
                <label for="Detalle">Detalle:</label>
              </div>
              <input [(ngModel)]="itemGrilla.Detalle" type="text" formControlName="Detalle" class="form-control" id="Detalle" placeholder="Detalle">
            </div>
          </div>
          <div class="form-group col text-right" style="margin-top: 25px;">
              <button type="button" class="btn btn-danger" is="btnCancelar" (click)="modal.dismiss()">Cancelar</button>
          </div>
        </form>
      </div>
    </ng-template>
    

<footer class="footer">
  <app-footer></app-footer>
</footer>
