<div class="container-fluid main-section">
  <div class="modal-content">
    <!-- Filtros de Búsqueda -->
    <form [formGroup]="formFiltro">
      <div class="container">
        <h4 class="title-menu centered-rounded-background">
          <a>
            <img *ngIf="imgSubmenu !== undefined" class="img-crud" src="{{imgSubmenu.TipoIcono}}{{imgSubmenu.Icono}}" />
          </a>
          <a style="margin-left: 5px;">Permisos</a>
        </h4>
      </div>
    </form>
    <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-secondary mr-2" type="button" id="btn1" data-bs-toggle="modal" data-bs-target="#modalInfo">
        <i class="fa-solid fa-circle-info"></i>
        Info
      </button>
      <button class="btn btn-secondary" type="button" id="btn2" data-bs-toggle="modal" data-bs-target="#modalQuestion">
        <i class="fa-solid fa-circle-question"></i>
      </button>
      
    </div>
    <!-- Grilla -->
    <div class="registros mt-3" *ngIf="(listaGrilla && listaGrilla.length > 0) || (listaGrilla2 && listaGrilla2.length > 0); else noData">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nro</th>
              <th scope="col">Permiso</th>
              <th scope="col">Descripción</th>
            </tr>
          </thead>
          <tbody class="tablaUser">
            <!-- Usa ngFor para iterar sobre los elementos de listaGrilla y listaGrilla2 -->
            <ng-container *ngFor="let item of listaGrilla; let i = index">
              <tr>
                <td scope="col">{{ item.IdTipoPermiso }}</td>
                <td scope="col">{{ item.Detalle }}</td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let item of listaGrilla2; let i = index">
              <tr>
                <td scope="col">{{ item.IdTipoPermisoDetalle }}</td>
                <td scope="col">{{ item.TipoPermiso }}</td>
                <td scope="col">{{ item.Method }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noData>
      <h5>No se encontraron registros...</h5>
    </ng-template>
    
  </div>
</div>
<!-- Modal Info -->
<div class="modal fade" id="modalInfo" tabindex="-1" aria-labelledby="modalInfoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="Modal">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInfoLabel">Información Permisos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Nivel 1</h4>
        <p>El Permiso de Nivel 1 otorga acceso para visualizar, agregar, editar, eliminar y habilitar datos dentro del sistema Clean.</p>
        <h4>Nivel 2</h4>
        <p>El Permiso de Nivel 2 otorga acceso para visualizar, agregar y editar datos dentro del sistema Clean.</p>
        <h4>Nivel 3</h4>
        <p>El Permiso de Nivel 3 otorga acceso para visualizar, agregar, editar, eliminar y habilitar datos dentro del sistema Clean.</p>
        <h4>Nivel 4</h4>
        <p>El Permiso de Nivel 4 otorga acceso para visualizar, agregar, editar, eliminar y habilitar datos dentro del sistema Clean.</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal Question -->
<div class="modal fade" id="modalQuestion" tabindex="-1" aria-labelledby="modalQuestionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="Modal">
      <div class="modal-header">
        <h5 class="modal-title" id="modalQuestionLabel">Información del Módulo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <app-footer></app-footer>
</footer>
