<app-loader [isLoading]="loading"></app-loader>
<div class="login-container">
  <div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
      <div class="h-100 gradient-form" id="login">
        <div class="container py-5 h-100" id="conteiner2">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-8 col-lg-9">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="card-body p-md-5 mx-md-4">
                      <div class="text-center">
                        <div class="img-responsive-container">
                          <img id="logo" src="../../../assets/img/cleanlogo.png" alt="Logo de Mi Empresa">
                        </div>
                      </div>
                      <form [formGroup]="FormularioLogin" (ngSubmit)="onSubmit()">
                        <p>Por favor, ingrese sus credenciales</p>
                        <div class="form-outline mb-4">
                          <label class="form-label" for="Usuario">Usuario</label>
                          <input type="text" id="Usuario" class="form-control" formControlName="Usuario" placeholder="Ingrese su Nombre" />
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label" for="Clave">Contraseña</label>
                          <input type="password" id="Clave" class="form-control" formControlName="Clave" placeholder="Ingrese su Contraseña" />
                        </div>
                        <div class="text-center pt-1 mb-3">
                          <button class="btn btn-custom btn-block fa-lg gradient-custom-2" type="submit">Iniciar Sesión</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-4 d-flex align-items-center justify-content-center gradient-custom-2 text-center">
                    <h1 class="welcome-text">Bienvenido</h1>
                  </div>                                                  
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
