<div class="container-fluid main-section">
  <div class="modal-content">
    <form [formGroup]="formFiltro">
      <div class="container">
        <h4 class="title-menu centered-rounded-background">
          <a>
            <img *ngIf="imgSubmenu !== undefined" class="img-crud" src="{{imgSubmenu.TipoIcono}}{{imgSubmenu.Icono}}" />
          </a>
          <a style="margin-left: 5px;">Realizar Venta</a>
        </h4>
      </div>
      <div class="row mt-3 justify-content-end">
        <div class="col-md-3">
          <label for="busqueda"><i class="fa-solid fa-barcode"></i> Código de barras: </label>
          <div class="input-group">
            <input type="text" formControlName="busquedaCodigoBarras" class="form-control" id="busquedaCodigoBarras"
              placeholder="Buscar por código de barras...">
          </div>
        </div>
        <div class="col-md-3">
          <label for="busquedaManual"><i class="fa-solid fa-magnifying-glass"></i> Busqueda Manual:</label>
          <div class="input-group">
            <input type="text" formControlName="busquedaManual" class="form-control" id="busquedaManual"
              placeholder="Buscar manualmente...">
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" id="btnLimpiar">
                <i class="fa-solid fa-eraser"></i>
              </button>
              <button type="button" class="btn btn-secondary" id="btnBorrarTodo">
                Borrar Todo
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 ml-auto align-self-end total-venta">
          <div class="text-right total-venta">
            <h3 class="mb-0">Total Venta: S./ <span id="totalVenta">0.00</span></h3>
          </div>
        </div>
      </div>
    </form>
    <div class="row mt-3">
      <div class="col-md-9" id="tablaVenta">
        <div class="registros">
          <div class="table-responsive">
            <div class="scroll-table">
              <ng-container>
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="hide-column">Nro</th>
                      <th scope="col">Código</th>
                      <th scope="col">Producto</th>
                      <th scope="col">Marca</th>
                      <th scope="col" class="th-short">Medida/tamaño</th>
                      <th scope="col">Precio $</th>
                      <th scope="col" class="th-short">Cantidad</th>
                      <th scope="col">Precio p/cant.</th>
                      <th scope="col">Acción</th>
                    </tr>
                  </thead>
                  <tbody class="tablaUser">
                    <tr>
                      <td scope="col" class="hide-column">1AAAA</td>
                      <td scope="col">111111</td>
                      <td scope="col">Detergenteeeeeeeeeeee asdasdasdasasdsadasd</td>
                      <td scope="col">Ariel</td>
                      <td scope="col" class="td-short">1 litro</td>
                      <td scope="col">1000</td>
                      <td scope="col" class="td-short">
                        <div class="input-group input-group-sm mb-3">
                          <input type="number" formControlName="cantidad" class="form-control cantidad-input"
                            placeholder="Cantidad">
                        </div>
                      </td>
                      <td scope="col">2000</td>
                      <td scope="col">
                        <button class="btn btn-danger">
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
              <ng-template #noResults>
                <div class="alert alert-info alert-custom-orange mt-4" role="alert" id="alerta">
                  No se encontraron resultados.
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <ng-template #noData>
          <div class="alert alert-info alert-custom-orange mt-4" role="alert" id="alerta">
            No hay datos disponibles.
          </div>
        </ng-template>
      </div>
      <div class="col-md-3" id="datosVenta">
        <div class="card shadow card-long">
          <h5 class="card-header py-1 text-white text-center">
            Datos de Venta<span id="totalVentaRegistrar"></span>
          </h5>
          <div class="card-body p-2">
            <!-- SELECCIONAR TIPO DE DOCUMENTO -->
            <div class="form-group mb-2">
              <label class="col-form-label">
                <i class="fas fa-file-alt fs-6"></i>
                <span class="small"> Documento</span><span class="text-danger">*</span>
              </label>
              <select class="form-select form-select-sm" formControlName="tipoDocumento">
                <option selected disabled>Seleccione Documento</option>
                <option *ngFor="let tipoFactura of lTipoFacturas" [value]="tipoFactura.IdTipoFactura">
                  {{ tipoFactura.Descripcion }}
                </option>
              </select>
            </div>
            <!-- SELECCIONAR TIPO DE PAGO -->
            <div class="form-group mb-2">
              <label class="col-form-label">
                <i class="fas fa-money-bill-alt fs-6"></i>
                <span class="small"> Forma de Pago</span><span class="text-danger">*</span>
              </label>
              <select class="form-select form-select-sm" formControlName="formaDePago">
                <option selected disabled>Seleccione Forma de Pago</option>
                <option *ngFor="let formaPago of lFormaDePago" [value]="formaPago.IdTipoFormaDePago">
                  {{ formaPago.Descripcion }}
                </option>
              </select>
            </div>
            <!-- INPUT DE EFECTIVO ENTREGADO -->
            <div class="form-group">
              <label>Monto recibido</label>
              <input type="number" min="0" class="form-control form-control-sm"
                placeholder="Cantidad de efectivo recibida">
            </div>
            <!-- INPUT CHECK DE EFECTIVO EXACTO -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Monto Exacto
              </label>
            </div>
            <div class="form-group">
              <label for="iptagregarDescuento">Descuento:</label>
              <input type="number" min="0" class="form-control form-control-sm" placeholder="Agregar Descuento">
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <p><strong>Subtotal: S./ </strong><span id="subtotalVenta">0.00</span></p>
                <p><strong>Descuentos: S./ </strong><span id="descuentosVenta">0.00</span></p>
                <p><strong>Vuelto: S./ </strong><span id="vueltoVenta">0.00</span></p>
                <p><strong>Total: S./ </strong><span id="totalVentaFinal">0.00</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between align-items-end">
                <button type="button" class="btn btn-danger" (click)="generarVenta()" id="btnGenerarVenta">
                  <i class="fa-solid fa-cart-shopping"></i>
                  Generar Venta
                </button>
                <button type="button" class="btn btn-primary" (click)="imprimirTicketPDF()" id="btnImprimir">
                  <i class="fa-solid fa-print"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>