body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece la altura mínima del cuerpo para ocupar toda la ventana del navegador */
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Establece la altura mínima del contenedor principal para ocupar toda la ventana del navegador */
}

.content {
  flex: 1; /* El contenido principal ocupa todo el espacio restante */
}


.footer {
  flex-shrink: 0; /* Evita que el footer se contraiga */
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  color: #666;
}
