@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poetsen+One&display=swap');
.div{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acceso {
    text-align: center;
    background: white;
    padding: 20px;
}

.acceso h1 {
    font-size: 100px;
    color: #ff0000;
    margin-left: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
}

.acceso img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .acceso h1 {
        font-size: 2em;
    }
}
