<div class="container-fluid main-section">
  <div class="modal-content">
    <!-- Filtros de Búsqueda -->
    <form [formGroup]="formFiltro">
      <h1 id="tituloTabla">Impuestos <i class="fa-solid fa-layer-group"></i></h1>
      <div class="d-flex align-items-start justify-content-between">
        <div class="form-group col-md-2 mt-3">
          <label for="idFiltro">Filtrar Por:</label>
          <select formControlName="idFiltro" class="form-control" id="idFiltro" (change)="cambiarFiltro()">
            <option value="1">Solo Habilitados</option>
            <option value="2">Solo Inhabilitados</option>
            <option value="0">Todos</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <button type="button" class="btn btn-primary" id="AgregarModalbtn" (click)="openAgregar(content)">
            <i class="fa-solid fa-circle-plus"></i> <!-- Aplica la clase 'button-icon' al ícono -->
            Agregar
          </button>
        </div>
      </div>
    </form>
    <!-- Grilla -->
    <div class="registros mt-3" *ngIf="listaGrilla && listaGrilla.length > 0; else noData">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nro</th>
              <th scope="col">Estado</th>
              <th scope="col">Detalle</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody class="tablaUser">
            <tr *ngFor="let item of listaGrilla; let i = index">
              <td scope="col">{{ item.IdTipoImpuesto }}</td>
              <td scope="col">{{ item.FechaBaja === null ? 'Activo' : 'No Activo' }}</td>
              <td scope="col">{{ item.Detalle }}</td>
              <td scope="col">{{ item.Porcentaje }}</td>
              <td scope="col" class="dropdown">
                <!-- Botón de acción con menú desplegable -->
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-gears"></i>
                </button>
                <!-- Menú desplegable con opciones -->
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <!-- Mostrar solo si FechaBaja no es null -->
                  <li *ngIf="item.FechaBaja !== null">
                    <a class="dropdown-item" (click)="openHabilitar(contentHabilitar, item)">
                      <i class="fa-solid fa-check"></i> Habilitar
                    </a>
                  </li>
                  <!-- Mostrar solo si FechaBaja es null -->
                  <li *ngIf="item.FechaBaja === null">
                    <a class="dropdown-item" (click)="openInhabilitar(contentInhabilitar, item)">
                      <i class="fa-solid fa-xmark"></i> Inhabilitar
                    </a>
                  </li>
                  <!-- Mostrar solo si FechaBaja es null -->
                  <li *ngIf="item.FechaBaja === null">
                    <a class="dropdown-item" (click)="openEditar(content, item)">
                      <i class="fa-solid fa-pen-to-square"></i> Editar
                    </a>
                  </li>
                </ul>
              </td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noData>
      <h5>No se encontraron registros...</h5>
    </ng-template>
  </div>
</div>
<!-- AgregarCategoriaModal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <a></a><h4 class="modal-title">{{ tituloModal }}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="formItemGrilla">
      <div class="form-row">
        <div class="form-group col-md-10">
          <div style="margin-bottom: 15px">
            <label for="detalle">Detalle:</label>
          </div>
          <input [(ngModel)]="itemGrilla.Detalle" type="text" formControlName="detalle" class="form-control" id="detalle" placeholder="Detalle">
        </div>
        <div class="form-group col-md-10">
          <div style="margin-bottom: 15px">
            <label for="porcentaje">Porcentaje:</label>
          </div>
          <input [(ngModel)]="itemGrilla.Porcentaje" type="number" formControlName="porcentaje" class="form-control" id="porcentaje" placeholder="Porcentaje" step="1" min="0" max="100" inputmode="numeric">
        </div>
      </div>
    </form>
  </div>
  <div class="form-group col text-right" style="margin-top: 25px;">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="guardar()">{{ tituloBoton }}</button>
  </div>
</ng-template>


<ng-template #contentInhabilitar let-modal>
  <div class="modal-header">
    <a></a><h4 class="modal-title">{{ tituloModal }}</h4>
  </div>
  <div class="modal-body">
      <a></a><h4 class="">Desea Eliminar?</h4>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="inhabilitar()">Aceptar</button>
        </div>
  </div>
</ng-template>

<ng-template #contentHabilitar let-modal>
  <div class="modal-header">
    <a></a><h4 class="modal-title">{{ tituloModal }}</h4>
  </div>
  <div class="modal-body">
      <a></a><h4 class="">Desea Habilitar?</h4>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="habilitar()">Aceptar</button>
        </div>
  </div>
</ng-template>

<footer class="footer">
  <app-footer></app-footer>
</footer>
